{% extends "pages/interstitial_page.html" %}

{% block interstitial_content %}
<div class="h3">Check your email</div>
<div class="my-3">
  We sent you a one-time code. Enter it below — it expires in a few minutes, and works only in this
  browser. (You can also use the link in the email on this device.)
</div>

<div class="my-3">
  <form role="form" class="form"
        method="POST"
        action="{% url 'magic_code' %}"
        data-synchronous="true">
    {% csrf_token %}
    {{ magic_code_form.non_field_errors }}
    <div class="d-flex input-group input-group-lg">
      <input type="text"
             class="form-control"
             name="magic_code"
             autofocus="autofocus"
             placeholder="one-time code"
             maxlength="12"
             required=""
             id="magic-code-input"
             width="8">
      <div class="input-group-append">
        <button id="magic-code-submit-button"
                type="submit" name="submit" value="main"
                class="main btn btn-cta">Continue</button>
      </div>
    </div>
    <div class="text-left text-danger mt-2">
      <small class="form-error">{{ magic_code_form.magic_code.errors }}</small>
    </div>
  </form>
</div>

<div class="text-muted my-4">
  If it doesn't arrive in the next few minutes, check the address you entered and try again.
</div>
{% endblock %}
